.listpages,
.listcategories,
.featureditem,
.relatedpages,
.related-products {
  font-size: 0;
}
.listpages li,
.listcategories li,
.featureditem li,
.relatedpages li,
.related-products li {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.main_menu {
  position: relative;
  z-index: 11;
  background: #50514f;
  color: #FFF;
}
.main_menu > li {
  float: left;
  position: relative;
}
.main_menu > li:hover,
.main_menu a.current {
  background: #373736;
}
.main_menu > li:hover ul {
  display: block;
}
.main_menu a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: inherit;
}
.main_menu ul {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 0;
  display: none;
  width: 300px;
  background: #FFF;
  color: #888888;
  box-shadow: 0 3px 5px #555555;
}
.main_menu ul li {
  float: none;
}
.main_menu ul li:hover,
.main_menu ul li a.current {
  background: #eeeeee;
}
.static_menu {
  overflow: hidden;
}
.static_menu li {
  float: left;
  padding: 0 8px;
}
.static_menu li + li {
  border-left: 1px solid #888888;
}
.featureapage,
.featureditem li,
.relatedpages li {
  margin-bottom: 30px;
  margin-left: 2%;
  margin-right: 0;
  width: 32%;
}
.featureapage:nth-of-type(3n + 1),
.featureditem li:nth-of-type(3n + 1),
.relatedpages li:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 49%;
  }
  .featureapage:nth-of-type(n),
  .featureditem li:nth-of-type(n),
  .relatedpages li:nth-of-type(n) {
    margin-left: 2%;
  }
  .featureapage:nth-of-type(2n + 1),
  .featureditem li:nth-of-type(2n + 1),
  .relatedpages li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 100%;
  }
  .featureapage:nth-of-type(1n + 1),
  .featureditem li:nth-of-type(1n + 1),
  .relatedpages li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.featureapage .page-teaser-image,
.featureditem li .page-teaser-image,
.relatedpages li .page-teaser-image {
  overflow: hidden;
  margin-bottom: 0.5em;
}
.featureapage {
  float: left;
}
.listpages li,
.listcategories li {
  margin-bottom: 30px;
}
.listpages .page-teaser-image,
.listcategories .page-teaser-image {
  float: left;
  margin-right: 3%;
  width: 150px;
  overflow: hidden;
}
aside .listpages li,
aside .listcategories li,
aside .featureditem li,
aside .featureapage,
aside .relatedpages li {
  width: 100%;
  margin: 0 0 2em;
}
aside .listpages li .page-teaser-image,
aside .listcategories li .page-teaser-image,
aside .featureditem li .page-teaser-image,
aside .featureapage .page-teaser-image,
aside .relatedpages li .page-teaser-image {
  width: 100%;
  float: none;
  margin: 0 0 0.5em;
}
aside .listpages li span,
aside .listcategories li span,
aside .featureditem li span,
aside .featureapage span,
aside .relatedpages li span,
aside .listpages li p,
aside .listcategories li p,
aside .featureditem li p,
aside .featureapage p,
aside .relatedpages li p {
  font-size: 0.85em;
  line-height: 1.25;
}
.listxrss li {
  margin-bottom: 20px;
}
.listxrss a {
  display: block;
  margin-bottom: 1em;
}
.listxrss a ~ a {
  float: left;
  margin-right: 2%;
}
aside .listxrss a ~ a {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.listxrss span {
  display: block;
  font-size: 0.75em;
  color: #7c7c7c;
  margin-bottom: 1em;
}
aside .listxrss p {
  font-size: 0.85em;
}
.news-item .newslog-admin-actions {
  text-align: right;
}
.news-item .news-item-date {
  color: #7c7c7c;
}
.news-item .news-item-date::before {
  top: 2px;
  font-size: 16px;
  color: #50514f;
}
.news-item .news-item-tags a {
  color: #888888;
}
.news-item .news-item-tags a:hover {
  color: #3c3c3c;
}
.news-item .news-item-tags a + a {
  margin-left: 0.5em;
}
.news-item .news-item-tags a::before {
  color: #888888;
  margin-right: 0.5em;
}
.news-item .newslog-tag-filter::before {
  content: "\e02f";
}
.search-results li {
  margin-bottom: 30px;
}
.search-results .page-teaser-image {
  overflow: hidden;
  float: left;
  margin-right: 2%;
  width: 150px;
}
@media (min-width: 801px) {
  .mobile-bar,
  .mobile-menu {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body {
    padding-top: 2.3em;
    padding-bottom: 3.45em;
  }
  body[data-menu-open],
  body[data-dropdown-open] {
    overflow: hidden;
  }
  body[data-menu-open]::after,
  body[data-dropdown-open]::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
  }
  [data-menu-open]::after {
    background: rgba(0, 0, 0, 0.5);
  }
}
.mobile-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.mobile-bar::after {
  content: "";
  display: table;
  clear: both;
}
@media only print {
  .mobile-bar {
    display: none;
  }
}
.mobile-bar .btn {
  line-height: inherit;
}
.mobile-bar .btn.btn-caption {
  line-height: 1.225em;
}
.mobile-bar .btn.btn-caption::before {
  line-height: inherit;
}
.mobile-bar.top {
  top: 0;
  line-height: 2.3em;
  color: #FFF;
  background: #50514f;
}
.mobile-bar.top .btn.icon {
  width: 2.3em;
}
.mobile-bar.bottom {
  bottom: 0;
  line-height: 3.45em;
  color: #FFF;
  background: #50514f;
}
.mobile-bar.bottom .btn.icon {
  width: 3.45em;
}
.mobile-menu {
  float: none;
  height: auto;
  text-align: left;
  margin: 0 !important;
  padding: 0;
  width: 80%;
  max-width: 300px;
  position: fixed;
  z-index: 0;
  overflow: auto;
  background: #fff;
  color: #555555;
}
.mobile-menu.left,
.mobile-menu.right {
  top: 0;
  bottom: 0;
}
.mobile-menu.left {
  left: 0;
}
.mobile-menu.right {
  right: 0;
}
.mobile-menu.top,
.mobile-menu.bottom {
  left: 0;
  right: 0;
  width: auto;
  height: 300px;
  max-height: 80%;
  max-width: none;
}
.mobile-menu.top {
  top: 0;
}
.mobile-menu.bottom {
  bottom: 0;
}
.mobile-menu ul,
.dropdown-menu ul {
  background: transparent;
  color: inherit;
  position: relative;
  line-height: 2.3em;
  width: auto;
  box-shadow: none;
}
.mobile-menu ul a,
.dropdown-menu ul a {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}
.mobile-menu ul a:hover,
.mobile-menu ul a.current,
.dropdown-menu ul a:hover,
.dropdown-menu ul a.current {
  background: #eeeeee;
}
.mobile-menu ul ul,
.dropdown-menu ul ul {
  background: rgba(0, 0, 0, 0.03);
}
.mobile-menu ul ul a,
.dropdown-menu ul ul a {
  padding-left: 24px;
}
.mobile-menu ul.open,
.main_menu ul.open,
.dropdown-menu ul.open {
  display: block !important;
}
.mobile-menu li,
.dropdown-menu li {
  float: none;
  border-bottom: 1px solid #eeeeee;
}
.mobile-menu li:hover,
.dropdown-menu li:hover {
  background: transparent;
}
.mobile-menu li:hover ul,
.dropdown-menu li:hover ul {
  display: none;
}
.mobile-menu li li,
.dropdown-menu li li {
  border: none;
  border-top: 1px solid #eeeeee;
}
.menu-btn {
  cursor: pointer;
  background: transparent;
  padding: 0 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-btn.left {
  float: left;
}
.menu-btn.left::before {
  margin-right: 0.23em;
  float: left;
}
.menu-btn.right {
  float: right;
  text-align: right;
}
.menu-btn.right::before {
  margin-left: 0.23em;
  float: right;
}
.menu-btn.icon {
  width: 2.3em;
  text-indent: -9999px;
}
.menu-btn.icon::before {
  margin-right: 0;
  margin-left: 0;
}
.menu-btn:hover,
.menu-btn.active {
  background: rgba(0, 0, 0, 0.1);
}
.sub-menu-btn {
  float: right;
  width: 2.3em;
  text-align: center;
  color: #FFF;
  background: rgba(0, 0, 0, 0.1);
}
.sub-menu-btn::before {
  content: '';
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+WzxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz50cmFuc3BhcmVudCAyMCV0cmFuc3BhcmVudCA0MCU8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPnRyYW5zcGFyZW50IDYwJXRyYW5zcGFyZW50IDgwJTxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPl08L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #fff));
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
  background-image: linear-gradient(top, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
}
.sub-menu-btn:hover,
.sub-menu-btn.active {
  background: rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 800px) {
  .mobile-menu {
    z-index: 102;
    transition: all 0.3s;
  }
  .mobile-menu.top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .mobile-menu.bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .mobile-menu.left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .mobile-menu.right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-menu-open] .mobile-menu {
    box-shadow: 0 0 30px #555555;
  }
  [data-menu-open="left"] .mobile-menu.left,
  [data-menu-open="right"] .mobile-menu.right {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  [data-menu-open="top"] .mobile-menu.top,
  [data-menu-open="bottom"] .mobile-menu.bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .menu-btn.active {
    background: rgba(0, 0, 0, 0.05);
  }
  .menu-btn::before {
    width: 0.65714286em;
  }
  .menu-btn.left {
    padding-left: 0;
  }
  .menu-btn.left.active::before {
    margin-left: -0.46em;
    margin-right: 0.69em;
  }
  .menu-btn.right {
    padding-right: 0;
  }
  .menu-btn.right.active::before {
    margin-right: -0.46em;
    margin-left: 0.69em;
  }
}
@media only screen and (max-width: 800px) {
  .dropdown-menu-mobile {
    display: none;
  }
}
.dropdown-menu,
[data-dropdown-open] .dropdown-menu-mobile {
  background: #fff !important;
  color: #555555 !important;
  position: absolute;
  z-index: 102 !important;
  width: 250px;
  display: none;
  margin: 0 !important;
  overflow: auto;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
}
.dropdown-menu.open {
  display: block;
}
.dropdown-menu.top-right,
.dropdown-menu.bottom-right {
  right: 0;
  left: auto;
}
.dropdown-menu.top-left,
.dropdown-menu.bottom-left {
  left: 0;
  right: auto;
}
.dropdown-menu.top,
.dropdown-menu.top-left,
.dropdown-menu.top-right {
  top: auto;
  bottom: 100%;
}
.dropdown-menu.top.inner,
.dropdown-menu.top-left.inner,
.dropdown-menu.top-right.inner {
  top: 0;
  bottom: auto;
}
.dropdown-menu.bottom,
.dropdown-menu.bottom-left,
.dropdown-menu.bottom-right {
  top: 100%;
  bottom: auto;
}
.dropdown-menu.bottom.inner,
.dropdown-menu.bottom-left.inner,
.dropdown-menu.bottom-right.inner {
  top: auto;
  bottom: 0;
}
.dropdown-menu.left-top,
.dropdown-menu.right-top {
  top: 0;
  bottom: auto;
}
.dropdown-menu.left-bottom,
.dropdown-menu.right-bottom {
  top: auto;
  bottom: 0;
}
.dropdown-menu.left,
.dropdown-menu.left-top,
.dropdown-menu.left-bottom {
  left: auto;
  right: 100%;
}
.dropdown-menu.left.inner,
.dropdown-menu.left-top.inner,
.dropdown-menu.left-bottom.inner {
  left: 0;
  right: auto;
}
.dropdown-menu.right,
.dropdown-menu.right-top,
.dropdown-menu.right-bottom {
  left: 100%;
  right: auto;
}
.dropdown-menu.right.inner,
.dropdown-menu.right-top.inner,
.dropdown-menu.right-bottom.inner {
  right: 0;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile {
  position: fixed;
  max-width: 90%;
  max-height: 70%;
}
[data-dropdown-open] .dropdown-menu-mobile.open {
  display: block;
}
[data-dropdown-open] .dropdown-menu-mobile.centered {
  top: 50%;
  left: 0;
  right: 0;
  margin: auto !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-dropdown-open] .dropdown-menu-mobile.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}
[data-dropdown-open] .dropdown-menu-mobile.top {
  top: 5px;
  bottom: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.bottom {
  bottom: 5px;
  top: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.right {
  right: 5px;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.left {
  left: 5px;
  right: auto;
}
