//	PAGE Style
//==================================================
body {
    // custom scroll-bar
    .scroll-bar();
}

main {
}

#page {
}

//	HEADER Style
//==================================================
header {
    background : @header-bg;
    color      : @header-color;

    // -- LOGO Style
    .logo {
        text-decoration : none;

        img {
        }
    }
}

// -- NAV Style
nav {
}

//	CONTENT Style
//==================================================
article {
}

section {
}

//	SIDEBAR Style
//==================================================
aside {
    .aside-box {
        margin-bottom : 30px;
    }
}

//	FOOTER Style
//==================================================
footer {
    padding    : @padding-larger-vertical * 2 0;
    background : @footer-bg;
    color      : @footer-color;
    font-size  : @font-size-small;
}

//	Button to scroll top
//==================================================
#go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}
